name: Build ImmortalWrt

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Cache build
      uses: actions/cache@v3
      with:
        path: |
          dl
          build_dir
          staging_dir
          tmp
        key: ${{ runner.os }}-openwrt-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-openwrt-

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential gcc g++ make unzip git
